pyCMR
__env.py
*.pyc
credentials
__pycache__
data-*

proquest-pull/scientific/*
reddit-pull/account_info.txt
*-checkpoint.ipynb
*.bz2
reddit-pull/decompressed.bin
reddit-pull/raw_queries.csv
reddit-pull/raw_submissions.txt
reddit-pull/processed_submissions.txt
reddit-pull/word2vec_queries.m
reddit-pull/tsne_simple.p
reddit-pull/X_tsne_simple.p
reddit-pull/all_comments.csv
reddit-pull/all_submissions.csv
reddit-pull/comments.pickle
reddit-pull/climate_submissions.csv
reddit-pull/climate_submissions.csv
reddit-pull/climate_submissions.csv
reddit-pull/visited_comments.txt
reddit-pull/doc2vec/all_comments.csv
reddit-pull/doc2vec/all_submissions.csv
reddit-pull/processed_comments.csv
reddit-pull/doc2vec/queries.doc2vec.docvecs.vectors_docs.npy
*.doc2vec
